django-nose==1.1
jsonfield==0.9.20
pep8
psycopg2==2.4.5
pyflakes
south==0.7.6
# Note that Django is a requirement, but it is installed in the .travis.yml file in order to test against different versions
